[submodule "source/eallion/uBlacklist-Subscription"]
	path = source/eallion/uBlacklist-Subscription
	url = https://github.com/eallion/uBlacklist-Subscription.git
[submodule "source/obgnail/chinese-internet-is-dead"]
	path = source/obgnail/chinese-internet-is-dead
	url = https://github.com/obgnail/chinese-internet-is-dead.git
